<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WORDLE</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="joc">
        <header>
          <h1 class="titlu">WORDLE - ASC</h1>
        </header>
        <br><br>
        <button id="start" class="buton_verde" onclick="incepe()" disabled>Porneste bot</button>
        <hr>
        <button id="rest" class="buton_verde" onclick="opreste()" disabled>Opreste bot</button>
        <br><br>
        <h3 id="status">{{i|add:1}} / {{ cuv|length }}</h3>
        <h4 id="incercari">Incercari: 0</h4>
        <div id="spatiu-joc"></div>
        <div id="istoric-joc"></div>

      </div>
    </div>
  </body>

  <script>
    var inceput = false

    var cuvCurent = ""

    var listaCuvinte = {{ cuv|safe }}

    var ls_rasp = {}

    var indexCuvant = {{ i }}

    var incercari = []

    var urmLitera = 0

    var sumaIncerc = 0

    var listaRestransa = listaCuvinte

    var textDovada = ""
    var parteTextDovada = ""

    const cartesian =
      (...a) => a.reduce((a, b) => a.flatMap(d => b.map(e => [d, e].flat())))
    var pos = [0, 1, 2]
    var combinari_pos = cartesian(pos, pos, pos, pos, pos)
    for (let i = 0; i < combinari_pos.length; i++) {
      combinari_pos[i] = combinari_pos[i].join("")
    }
    
    

    function calc_rasp(cuv, corect){
      let raspuns = [0, 0, 0, 0, 0]
      for (let i = 0; i < 5; i++) {
        if(cuv[i] === corect[i]){
          raspuns[i] = 2
          corect = corect.replace(new RegExp(cuv[i], ''), '_')
        }
      }
      for (let i = 0; i < 5; i++) {
        if(raspuns[i] == 0 && corect.includes(cuv[i])){
          raspuns[i] = 1
          corect = corect.replace(new RegExp(cuv[i], ''), '_')
        }
      }
      return raspuns
    }

    function calcEntropie(ls_p, sum){
      let s = 0
      for(x of ls_p){
        if(sum !== 0){
          let p = x / sum
          if(p !== 0){
            s -= p * Math.log2(p)
          }
        }
        
      }
      return s
    }
    
    var besti = 0
    function get_by_entropie(cuvinte){
      let best = ""
      besti = 0
      for(cuv of cuvinte){
        if(incercari.includes(cuv)){
          continue
        }
        let vals = []
        let sum = 0
        for(comb of combinari_pos){
          if(!ls_rasp[cuv]){
            vals.push(0)
          }else if(!ls_rasp[cuv][comb]){
            vals.push(0)
          }else{
            let toate;
            toate = ls_rasp[cuv][comb]
            
            let nr = toate.length
            sum += nr
            vals.push(nr)
          }
        }
        let entro = calcEntropie(vals, sum)
        if(entro > besti){
          besti = entro
          best = cuv
        }
        // console.log(cuv, entro)
      }
      return best
    }

    function calcFrecventa(solutions) {
      let potPePoz = {};
      let frecv = {};
      let maxPotPePoz = {};
      for (const cuv of solutions) {
        for (let i = 0; i < 5; i++) {
          const l = cuv.charAt(i);
          if (!potPePoz[i]) potPePoz[i] = {};
          if (!potPePoz[i][l]) potPePoz[i][l] = 1;
          else potPePoz[i][l]++;
          if (!maxPotPePoz[i] || potPePoz[i][l] > maxPotPePoz[i]) {
            maxPotPePoz[i] = potPePoz[i][l];
          }
        }
      }

      for (const [poz, pot] of Object.entries(potPePoz)) {
        for (const [c, n] of Object.entries(pot)) {
          if (!frecv[poz]) frecv[poz] = {};
          frecv[poz][c] = Math.round(n / maxPotPePoz[poz] * 100) / 100;
        }
      }

      return frecv;
    }

    function ghici(strategie, pattern){
      let ghici

      if(strategie == 0){
        ghici = get_by_entropie(listaRestransa)
      }else{
        const frecv = calcFrecventa(listaRestransa);
        let max = 0;
        let potriviri = [];
        for (const cuv of listaRestransa) {
          const disti = new Set();
          let val = 0;
          for (let i = 0; i < 5; i++) {
            if (pattern && pattern.charAt(i) === '2') continue;
            const l = cuv.charAt(i);
            if (disti.has(l)) continue;
            disti.add(l);
            val = val + 1 * frecv[i][l];
          }
          if (val < max) continue;
          else if (val > max) {
            potriviri = [cuv];
            max = val;
          }
          else if (val === max) {
            potriviri.push(cuv);
          }
        }
        ghici = potriviri[0];
      }


      return ghici

    }



    function init() {
      let spatiu = document.getElementById("spatiu-joc")

      let rand = document.createElement("div")
      rand.className = "rand-litere"
      
      for (let j = 0; j < 5; j++) {
          let casuta = document.createElement("div")
          casuta.className = "casuta"
          rand.appendChild(casuta)
      }

      spatiu.appendChild(rand)

      window.addEventListener("keyup", (e) => {
        let tasta = String(e.key)
        if (tasta === "Backspace" && cuvCurent.length > 0) {
            cuvCurent = cuvCurent.substr(0, cuvCurent.length - 1)
            renderCuvant()
            return
        }

        if (tasta === "Enter" && cuvCurent.length == 5) {
          if(!listaCuvinte.includes(cuvCurent.toUpperCase())){
            return
          }
          introduCuvant()
          return
        }

        if (cuvCurent.length >= 5) {
            return
        }

        let gasit = tasta.match(/[a-z]/gi)
        if (!gasit || gasit.length > 1) {
            return
        } else {
            cuvCurent += tasta.toUpperCase()
            renderCuvant()
        }
        })
    }

    function introduCuvant(cuvant = cuvCurent){
      cuvCurent = cuvant
      let xhr = new XMLHttpRequest()
      xhr.open("POST", "/get_feedback")
      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          let feedback = JSON.parse(xhr.responseText)
          addIstoric(feedback["pattern"])
          if(feedback["corecte"].length == 5){
            if((indexCuvant+1) === listaCuvinte.length && feedback["i"] === 0){
              opreste()
              download(textDovada)
              return
            }
            textDovada += cuvCurent + " " + parteTextDovada.trim() + "\n"
            clearIstoric()
            cuvCurent = ""
            indexCuvant = feedback["i"]
            renderCuvant()
            if(inceput){
              introduCuvant("TAREI")
            }
            return
          }
          
          cuvCurent = ""
          renderCuvant()
          if(inceput){
            let ghicit
            if(incercari.length < 2){
              ghicit = ghici(0, feedback["pattern"])
            }else{
              ghicit = ghici(1, feedback["pattern"])
            }
            introduCuvant(ghicit)
          }
        }}

      let data = {
        "cuv": cuvCurent,
      }

      xhr.send(JSON.stringify(data))
    }

    function clearIstoric(){
      document.getElementById("istoric-joc").innerHTML = ""
      parteTextDovada = ""
      listaRestransa = listaCuvinte
      sumaIncerc += incercari.length
      incercari = []
    }


    function addIstoric(pattern){
      parteTextDovada += cuvCurent + " "

      let spatiu = document.getElementById("istoric-joc")

      let rand = document.createElement("div")
      rand.className = "rand-litere"
      
      for (let i = 0; i < 5; i++) {
          let casuta = document.createElement("div")
          if(pattern.charAt(i) === '2'){
            casuta.className = "casuta casuta-corect"
          }else if(pattern.charAt(i) === '1'){
            casuta.className = "casuta casuta-partial"
          }else{
            casuta.className = "casuta casuta-gresit"
          }
          casuta.textContent = cuvCurent.charAt(i)
          rand.appendChild(casuta)
      }
      spatiu.appendChild(rand)
      

      incercari.push(cuvCurent)
      let cuv_de_la_pattern = ls_rasp[cuvCurent][pattern]
      listaRestransa = listaRestransa.filter(value => cuv_de_la_pattern.includes(value))
    }

    function renderCuvant(){
      let rand = document.getElementsByClassName("rand-litere")[0]
      
      for (let i = 0; i < 5; i++) {
        let casuta = rand.children[i]
        if(i >= cuvCurent.length){
          casuta.textContent = ""
        }else{
          casuta.textContent = cuvCurent.charAt(i)
        }
      }

      document.getElementById("status").innerText = (indexCuvant+1)+" / "+listaCuvinte.length
      document.getElementById("incercari").innerText = "Incercari: "+ incercari.length+" - "+(sumaIncerc/(indexCuvant+1))
    }

    function incepe(){
      if(!inceput){
        inceput = true
        document.getElementById("start").setAttribute('disabled', '')
        document.getElementById("rest").removeAttribute('disabled', '')
        introduCuvant("TAREI")
      }
    }

    function opreste(){
      if(inceput){
        inceput = false

        document.getElementById("rest").setAttribute('disabled', '')
        document.getElementById("start").removeAttribute('disabled', '')
      }
    }

    function reset(){
      if(inceput){
          sumaIncerc = 0
          let xhr = new XMLHttpRequest()
          xhr.open("POST", "/reset")
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')

          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              inceput = false
              location.reload()
            }}

          xhr.send()
      }
    }

    download = function (text) {
      let textFile = null;
      var data = new Blob([text], {type: 'text/plain'});

      if (textFile !== null) {
        window.URL.revokeObjectURL(textFile);
      }

      textFile = window.URL.createObjectURL(data);
      var a = document.createElement("a");
      document.body.appendChild(a);
      a.style = "display: none";
      a.href = textFile;
      a.download = "rezultate.txt";
      a.click();
      window.URL.revokeObjectURL(textFile);
    };

    document.getElementById("status").innerText = "Se incarca..."

    let copieCuvList = [...listaCuvinte]

    let ls_rasps = []
    const parti = 4

    let suma = 0

    var timpInceput = new Date().getTime()

    for (let i = parti; i > 0; i--) {
        let bucata = copieCuvList.splice(0, Math.ceil(copieCuvList.length / i))
        let cuvLoad = new Worker("/static/raspunsuri_loader.js")
        cuvLoad.addEventListener("message", function handleLista(e) {
          if(e.data[0] === 0){
            suma += e.data[1]
            document.getElementById("status").innerText = "Se incarca: "+Math.floor((suma/listaCuvinte.length)*100) + " %"
          }else{
            console.log("PARTITIA "+(parti-i+1)+" / "+parti+" E GATA")
            ls_rasps.push(e.data[1])
            if(ls_rasps.length === parti){
              for(let parte of ls_rasps){
                if(ls_rasps.length === parti){
                  ls_rasp = {...ls_rasp, ...parte}
                }
              }
              var sfarsit = new Date().getTime()
              console.log("Durata: "+((sfarsit-timpInceput)/1000)+" secunde")

              document.getElementById("status").innerText = "{{i|add:1}} / {{ cuv|length }}"
              document.getElementById("start").removeAttribute('disabled', '')

              init()
            }
          }
          
        })
        cuvLoad.postMessage([bucata, listaCuvinte])
    }
  </script>
</html>