<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WORDLE</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="joc">
        <header>
          <h1 class="titlu">WORDLE - ASC</h1>
        </header>
        <br><br>
        <button id="start" class="buton_verde" onclick="incepe()">Start bot</button>
        <hr>
        <button id="rest" class="buton_verde" onclick="reset()" disabled>Reset</button>
        <br><br>
        <h3 id="status">{{i|add:1}} / {{ cuv|length }}</h3>
        <div id="spatiu-joc"></div>
        <div id="istoric-joc"></div>

      </div>
    </div>
  </body>

  <script>
    var inceput = false

    var listaCuvinte = {{ cuv|safe }}
    var indexCuvant = {{ i }}

    var urmLitera = 0;
    var cuvCurent = ""

    function init() {
      let spatiu = document.getElementById("spatiu-joc");

      let rand = document.createElement("div")
      rand.className = "rand-litere"
      
      for (let j = 0; j < 5; j++) {
          let casuta = document.createElement("div")
          casuta.className = "casuta"
          rand.appendChild(casuta)
      }

      spatiu.appendChild(rand)

      window.addEventListener("keyup", (e) => {
        let tasta = String(e.key)
        if (tasta === "Backspace" && cuvCurent.length > 0) {
            cuvCurent = cuvCurent.substr(0, cuvCurent.length - 1)
            renderCuvant()
            return
        }

        if (tasta === "Enter" && cuvCurent.length == 5) {
          if(!listaCuvinte.includes(cuvCurent.toUpperCase())){
            return
          }
          let xhr = new XMLHttpRequest();
          xhr.open("POST", "/get_feedback");
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')

          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              let feedback = JSON.parse(xhr.responseText)
              if(feedback["corecte"].length == 5){
                clearIstoric();
                cuvCurent = ""
                indexCuvant = feedback["i"]
                renderCuvant()
                return
              }
              addIstoric(feedback["corecte"], feedback["partiale"])
              cuvCurent = ""
              renderCuvant()
            }};

          let data = {
            "cuv": cuvCurent,
          };

          xhr.send(JSON.stringify(data));
          return
        }

        if (cuvCurent.length >= 5) {
            return
        }

        let gasit = tasta.match(/[a-z]/gi)
        if (!gasit || gasit.length > 1) {
            return
        } else {
            cuvCurent += tasta.toUpperCase()
            renderCuvant()
        }
        })
    }

    function clearIstoric(){
      document.getElementById("istoric-joc").innerHTML = ""
    }

    function addIstoric(corecte, partiale){
      let spatiu = document.getElementById("istoric-joc")

      let rand = document.createElement("div")
      rand.className = "rand-litere"
      
      for (let i = 0; i < 5; i++) {
          let casuta = document.createElement("div")
          if(corecte.includes(i)){
            casuta.className = "casuta casuta-corect"
          }else if(partiale.includes(i)){
            casuta.className = "casuta casuta-partial"
          }else{
            casuta.className = "casuta casuta-gresit"
          }
          
          casuta.textContent = cuvCurent.charAt(i)
          rand.appendChild(casuta)
      }

      spatiu.appendChild(rand)
    }

    function renderCuvant(){
      let rand = document.getElementsByClassName("rand-litere")[0]
    
      for (let i = 0; i < 5; i++) {
        let casuta = rand.children[i]
        if(i >= cuvCurent.length){
          casuta.textContent = ""
        }else{
          casuta.textContent = cuvCurent.charAt(i)
        }
      }

      document.getElementById("status").innerText = (indexCuvant+1)+" / "+listaCuvinte.length
    }

    function incepe(){
      if(!inceput){
        inceput = true
        document.getElementById("start").setAttribute('disabled', '');
        document.getElementById("rest").removeAttribute('disabled', '');
      }
    }

    function reset(){
      if(inceput){
          let xhr = new XMLHttpRequest();
          xhr.open("POST", "/reset");
          xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')

          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              inceput = false
              location.reload();
            }};

          xhr.send();
      }
    }

    init()
  </script>
</html>